PORT=%YOUR_SERVER_PORT%
DB_USER=%YOUR_USERNAME%
DB_HOST=%YOUR_DATABASE_HOST%
DB_DATABASE=%YOUR_DATABASE_NAME%
DB_PASSWORD=%YOUR_PASSWORD%
DB_PORT=%YOUR_DATABASE_PORT%
IP=%YOUR_IP%
JWT_SECRET=%YOUR_JWT_SECRET%